sahi
opencv-python
matplotlib
seaborn
numpy
pandas
# pyarrow # 이건 설치 안해도 될 것 같음.
dask
dask[distributed]
bokeh
tabulate
lightning
tensorboard
torchmetrics
pycocotools
albumentations
timm
hydra-core
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
effdet
mlflow